@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Road+Rage&family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh !important;
  position: relative;
  font-family: sans-serif;
  color: #333;
  line-height: 1.6;
}

.background-img {
  background: url('./assets/images/hoop.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  top: 0px;
  padding: 0 30px;
  background: transparent;
  border-bottom: 3px solid black;
  overflow: hidden;
}

#logo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#logo h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Road Rage', sans-serif;
  font-size: 3.5rem;
}

#logo a {
  display: flex;
  text-decoration: none;
}

#bball {
  display: flex;
  height: 70px;
  width: 70px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 24px;
  margin: 0 20px;
}

.navbar ul li a {
  padding: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar ul li {
  margin: 0 10px;
  font-family: 'Road Rage', sans-serif;
  font-size: 28px;
}

.navbar ul li:hover {
  opacity: 0.8;
  border-bottom: 5px solid rgb(184, 122, 6);
}

.main-header h2 {
  font-size: 2.5rem;
}

/* main */
main {
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .search-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  padding: 20px auto;
  width: 100%;
}

section .main-header {
  display: flex;
  margin: 30px auto 10px;
  padding: 10px;
  align-content: center;
  justify-content: flex-start;
  font-family: 'Road Rage', sans-serif;
  font-size: 34px;
}

section #user-input {
  margin: 10px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
}

input[type='text'] {
  text-align: center;
  padding: 5px;
  cursor: default;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

section #submit-btn {
  width: 200px;
  background: orange;
  color: white;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

section #submit-btn:hover {
  opacity: 0.7;
}

/* team.html page main section */

main {
  height: 100%;
}

main .team-header {
  display: flex;
  text-align: center;
  margin: 35px auto 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .team-header h2 {
  font-size: 2.5rem;
  font-family: 'Road Rage', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 50px;
}

main .team-header img {
  height: 125px;
  width: 125px;
}

main .team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 10px;
}

main #team-select {
  padding: 5px;
  margin: 10px;
}

main #team-btn {
  padding: 12px;
  width: 100px;
  background: rgb(249, 162, 0);
  border-radius: 5px;
}

main #team-btn:hover {
  opacity: 0.7;
}

main .team-roster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 10px;
  padding: 20px;
}

main #team-select {
  width: 225px;
  height: 40px;
  padding: 0;
  text-align: center;
  background: orange;
  color: white;
  border-radius: 10px;
}

main #team-btn {
  cursor: pointer;
  color: white;
}

main .team-info {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  padding: 20px;
  width: 80%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(198, 198, 198, 1) 67%,
    rgba(125, 125, 125, 1) 100%
  );
  border-radius: 30px !important;
}

main .team-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  width: 50%;
  margin: auto;
  padding: 25px;
  border-right: 1px solid #000;
}

main .logos {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 50%;
}

main .logos img {
  border-radius: 50%;
  padding: 15px;
  height: 230px;
  width: 230px;
  margin: 10px;
  background: transparent;
}

/* rendered data from user input */
body main .player-results {
  display: flex;
  margin: 30px;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

.card {
  flex-direction: row !important;
  border: transparent !important;
  width: 100% !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(198, 198, 198, 1) 67%,
    rgba(125, 125, 125, 1) 100%
  );
  border-radius: 30px !important;
  max-width: 1200px;
}

.card-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  margin: 0 2rem !important;
}

.card-body {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 2px solid #000;
  width: 100% !important;
}

.card-body .player-bio,
.playerName-num {
  width: 50%;
}

.row {
  flex-wrap: nowrap !important;
  width: 100% !important;
}

.card-container .player-image,
.player-bio,
.playerName-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.headshot-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.headshot-div img {
  height: 100%;
  width: 100%;
}

/* footer */
.footer {
  position: fixed;
  display: flex;
  left: 0px;
  bottom: 0px;
  height: 65px;
  width: 100%;
  background: lightgray;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
}

footer .icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 5px;
}

footer img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* error message */
.player-bio .error-div {
  background: lightgray;
  border: 5px solid black;
}

.player-bio .error-div h3 {
  text-align: center;
}

.narrow-search {
  background: lightgray;
  font-weight: bold;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
}

/* media queries */
@media only screen and (max-width: 1000px) {
  #logo h1 {
    font-size: 3rem;
  }

  #logo #bball {
    height: 40px;
    width: 40px;
  }

  .navbar ul {
    font-size: 20px;
  }
  .player-results {
    display: flex;
    flex-direction: row;
  }

  .player-results .player-results .player-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
    width: 35%;
  }
}

@media only screen and (max-width: 770px) {
  section .search-submit {
    margin-top: 15px;
  }

  section #user-input {
    margin: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
  }

  section #submit-btn {
    width: 175px;
    background: orange;
    color: white;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
  }

  main .team-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
  }

  main .team-info {
    width: 60%;
    padding: 0;
    display: flex;
    text-align: center;
    margin: 5px auto 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  main .team-info .team-div {
    width: 100%;
    height: 100%;
    padding: 25px;
  }

  main .team-info .team-div h3,
  p {
    font-size: 16px;
  }

  main .team-info .logos {
    margin: 0 auto;
    padding: 2px;
  }
  main .team-info .logos img {
    height: 150px;
    width: 150px;
  }

  main .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 5px;
    padding: 20px;
  }

  .row > * {
    flex-shrink: 1 !important;
  }

  .player-image img {
    height: 150px;
    width: 225px;
  }

  .player-bio,
  .playerName-num {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .player-bio .player-div h2,
  .playerName-num .stats-div h2 {
    font-size: 1.2rem;
  }

  main .team-info {
    margin-top: 100px;
  }

  main .team-container {
    margin-top: 10px;
  }

  main .team-info .team-div {
    width: 100%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 650px) {
  #logo h1 {
    font-size: 20px;
  }
  #logo #bball {
    height: 20px;
    width: 20px;
  }

  .navbar ul li {
    font-size: 20px;
    padding: 4px;
  }

  .main-header h2 {
    font-size: 20px;
  }

  .input-div #user-input {
    width: 200px;
    height: 45px;
  }

  input[type='text'] {
    font-size: 16px;
  }

  .player-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    border-top: 2px solid #000;
    border-left: transparent;
    padding: 20px;
    color: rgb(0, 0, 0);
  }

  .player-image .headshot-div {
    padding: 10px;
    margin-bottom: 10px;
  }

  .player-bio .player-div h2,
  .playerName-num .stats-div h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .player-bio .player-div p,
  .playerName-num .stats-div p {
    font-size: 16px;
  }

  main .team-container {
    margin: 5px;
  }

  main .team-header h2 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px;
  }
  main .team-header img {
    height: 80px;
    width: 80px;
  }

  main .team-info {
    margin: 5px auto 2px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  main .team-info .team-div {
    width: 100%;
    font-size: 14px;
    height: 50%;
    padding: 10px;
  }

  main .team-info .team-div h3,
  p {
    font-size: 18px;
  }

  main .team-info .logos {
    height: 50%;
  }

  .footer .icon-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 10px;
  }
}

@media only screen and (max-width: 450px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  #logo h1 {
    font-size: 16px;
    margin: 0;
  }
  #logo #bball {
    height: 0;
    width: 0;
  }

  .nav-links {
    margin: 0;
  }

  .navbar ul {
    margin: 0;
  }

  .navbar ul li {
    font-size: 16px;
    /* padding: 4px; */
  }
}
